@font-face{
    font-family: "Verdana";
    src: url(fonts/Verdana/18028.ttf) format("truetype");
}
@font-face{
    font-family: "Verdana_Bold";
    src: url(fonts/Verdana/Verdana_Bold.ttf) format("truetype");
}
body{
    background-image: url(img/rana-sawalha-364253-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
     height: 100%;
    max-height: 770px;
}
header{
    height: 55px;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 1365px;
}
.j
{
    font-family: "Verdana_Bold";
    float: left;
    padding-top: 20px;
    padding-left: 82px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.j:hover{
    color: #3cb878; 
}
.t1{
    font-family: "Verdana";
    padding-top: 20px;
    float: right;
    font-size: 14px;
    color: white;
}
.t2{
    font-family: "Verdana";
    padding-top: 20px;
    float: right;
    font-size: 14px;
    padding-right: 74px;
    color: white;
}
.sign, .Log{
    color: #3cb878;
    text-decoration: none;
}
.sign:hover, .Log:hover{
    text-decoration: underline;
}
.Log{
    padding-right: 7px;
}
.call{
    background: url(img/ic_caledar.png);
    float: right;
    margin-right: 28px;
    margin-top: 17px;
    width: 19px; 
    height: 19px;
}
.call:hover{
    background: url(img/ic_caledar_hov.png);
}
.mess{
    background: url(img/ic_forum.png);
    float: right;
    margin-right: 27px;
    margin-top: 17px;
    width: 28px; 
    height: 20px;
}
.mess:hover{
    background: url(img/ic_forum_hov.png);
}
.comp{
    background: url(img/ic_journey.png);
    float: right;
    margin-right: 26px;
    margin-top: 17px;
    width: 20px;    
    height: 20px;
}
.comp:hover{
    background: url(img/ic_journey_hov.png);
}
.line{
float: right;
margin-top:17px;
margin-right:26px;  
background: #dfdddd;
opacity: 0.3;
width: 1px;
height: 19px;
}
main{
    position: relative;
    margin-top: 66px;
    margin-bottom: 66px;
    height: 585px;
    width: 445px;
    background-color: white;
/*    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.51);*/
    border-radius: 10px;
    margin-left: 460px;
}
.lev_bl{
    margin-top: 30px;
    width: 18px;
    height: 18px;
    background: #3cb878;
    position: absolute;
}
.SU{
    margin-top: 30px;
    position: absolute;
    font-size: 20px;
    font-family: "Verdana";
    color: #434343;
    margin-left: 60px;
}
.LI{
    position: absolute;
    font-family: "Verdana";
    color: #3cb878;
    margin-top: 34px; 
    font-size: 14px;
    right: 60px;
    text-decoration: none;
}
.LI:hover{
    text-decoration: underline;
}
.cl_blf{
    position: absolute;
    width: 157px;
    height: 45px;
    margin-right: 8px;
    margin-left: 62px;
    margin-top: 63px;
    background-color: #305db8; 
    border-radius: 5px;
}
.l_f{
    position: relative;
    background-image: url(img/facebook1.png);
    width: 10px;
	height: 20px;
	margin-top: 12px;
	margin-left: 20px;
}
.linef{
    height: 28px;
	width: 1px;
	background: black;
	opacity: 0.1;
    position: absolute;
	top: 9px;
	left: 47px; 
}
.f_t{
    font-family: "Verdana";
    font-size: 16px;
    color: white;
    position: absolute;
    left: 66px;
    top: 16px;
}
.cl_blg{
    position: absolute;
    width: 157px;
    height: 45px;
    margin-right: 8px;
    margin-left: 229px;
    margin-top: 63px;
    background-color: #df4a32; 
    border-radius: 5px;
}
.l_g{
    position: relative;
    background-image: url(img/G+.png);
    width: 25px;
	height: 16px;
	margin-top: 15px;
	margin-left: 13px;
}
.lineg{
    height: 28px;
	width: 1px;
	background: black;
	opacity: 0.1;
    position: absolute;
	top: 9px;
	left: 47px; 
}
.g_t{
    font-family: "Verdana";
    font-size: 16px;
    color: white;
    position: absolute;
    left: 72px;
    top: 16px;
}
.cl_blg:hover{
    background-color: #c3412c;
}
.cl_blf:hover{
    background-color: #264b96;
}
.gline{
    position: absolute;
    margin-top: 147px;
    left: 62px;
    right: 52px;
    width: 135px;
    height: 1px;
    background: #eaeaea;
}
.or{
    position: absolute;
	margin-top:141px; 
	margin-left:215px;
	font-family: Verdana;
	font-size: 14px;
	color: #848484;
}
.gliner{
    position: absolute;
    margin-top: 147px;
    left: 249px;
    right: 52px;
    width: 135px;
    height: 1px;
    background: #eaeaea;
}
.i_t{
    position: relative;
    font-family: "Verdana";
    font-size: 14px;
    color: #434343;
    top: 157px;
    margin-left: 63px;
    margin-top: 10px;
    height: 43px;
    width: 320px;
    border-radius: 2px;
    border:2px solid #eaeaea;
}
.i_t:focus {
 box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
 outline:none;
}
.ch_b{
    position: relative;
    margin-top:  173px;
    margin-bottom: 100px;
    margin-left: 63px;
}
.cbL{
    font-family: "Verdana";
    font-size: 14px;
    color: #434343;
    padding-left: 12px;
}
.cbL:checked{
    background-image: url(img/clic.png);

}
.cbL:hover{
	cursor: pointer;
}
.TaC{
    color: #3cb878;
	text-decoration: none;
}
.TaC:hover{
    text-decoration: underline;
}
.but{
    position: absolute;
	top: 507px;
	left: 63px;
    border: 0px;
    font-family: "Verdana";
    font-size: 16px;
    color: white;
    background: #3cb878;
    padding: 17px 101px;
}
.but:hover{
    background: #329a65;
}